@model IEnumerable<DBSS_Agua.Common.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.RegistroActivo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NombreInquilino)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NombrePropietario)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CasaPropia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoRecidencial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreación)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicioTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicioSuspendido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicioSuspendidoFecha)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MontoMensual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistroActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreInquilino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePropietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasaPropia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoRecidencial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreación)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicioTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicioSuspendido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicioSuspendidoFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoMensual)
        </td>
        @*@if (!string.IsNullOrEmpty(item.ImagePath))
        {
            <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
        }*@

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClientesID }, new { @class = "btn btn-warning" })
            @*@Html.ActionLink("Details", "Details", new { id = item.ClientesID }, new { @class = "btn btn-info" })*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.ClientesID }, new { @class = "btn btn-danger" })*@
        </td>
    </tr>
}

</table>
